body{
    background-color: darkblue;
}

h1{
    color:blueviolet;
}

/* *{
    background-image: ;
}*/

p,h2{
 
text-align: center;
color: rgb(231, 188, 162);
font-size: 20px;
}

.header{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}

.grid{
   display:flex;
   flex-wrap:wrap;
   justify-content: space-evenly;
}

.footer{
display:flex;
justify-content: flex-end;
text-align: center;
}